.small_btn {
    padding: 6px 15px !important;
    line-height: 1.315 !important;
    letter-spacing: 0.09em !important;
}

.div_add h6{
    margin: 0.6rem 0 0 0 !important;
    font-size: 0.85rem !important;
}
tr td {
    padding: 8px 15px;    
    line-height: 18px;
    font-weight: 400;
    font-size: 0.8rem;
}